.form__section__form {
  max-width: 200px;
  margin-inline: auto;

  &__label {
    color: var(--white);
    display: block;
    margin-bottom: 0.5rem;
  }

  & input {
    display: block;
    margin-inline: auto;
    width: 100%;
  }

  & > div {
    margin-bottom: 1rem;
    &:nth-child(3) {
      margin-bottom: 25px;
    }
  }

  &__button {
    display: block;
    margin-inline: auto;
  }
}
