@import "../../../styles/globalBreakPoints.scss";
.skill {
  &__section {
    position: relative;
    z-index: 15;
    display: flex;
    // padding-left: 15%;
    top: 10rem;
    flex-direction: column;
    backdrop-filter: blur(15px) brightness(0.7);
  }

  &__title__section {
    display: flex;
    flex-direction: column;
    // text-align: center;
    align-items: center;
    gap: 5%;
    width: 100vw;
  }

  &__title {
    color: var(--white);
    animation: glow 1s ease-in-out infinite alternate;
  }

  &__content {
    display: flex;
    flex-direction: row;
    position: relative;
    // justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @include breakpoint(sm) {
      display: flex;
      gap: 2rem;
    }
    color: var(--white);
  }

  &__cards {
    border: 3px solid var(--american-orange);
    width: 20vw;
  }

  &__card {
    padding: 16px;
  }

  &__inner__text {
    color: var(--white);
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
