@import "../../../styles/globalBreakPoints.scss";
.aboutMe {
  &__section {
    padding-block: 3rem;
    z-index: 12;
    position: relative;
    backdrop-filter: blur(10px) brightness(0.7);
  }

  &__container {
    padding-inline: 0.75rem;
    max-width: 700px;
    margin-inline: auto;
  }

  &__content {
    @include breakpoint(sm) {
      display: flex;
      gap: 2rem;
    }
    color: var(--white);
  }

  &__title {
    color: #fff;
    margin-bottom: 2rem;
    text-align: center;

    @include breakpoint(sm) {
      text-align: unset;
    }
  }

  &__img {
    display: block;
    padding-inline: 3rem;

    @include breakpoint(sm) {
      padding: unset;
    }

    &Container {
      margin-bottom: 1rem;
      max-width: 50%;
      margin-left: 25%;

      @include breakpoint(sm) {
        max-width: 33.33%;
        margin-bottom: unset;
        width: 100%;
        margin-left: unset;
      }
    }
  }

  &__txt {
    &Container {
      margin-left: 5%;
      @include breakpoint(md) {
        max-width: 66.66%;
      }
    }
  }
}
