.aboutMeSection {
  min-width: 100vw;
  border: 3px solid red;
  display: flex;
  justify-content: center;
}
.aboutMeContainer {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
}

.aboutMeFigureSection {
  max-width: 20vw;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.aboutMeDetails {
  padding-top: 5%;
  height: 10vh;
  color: var(--white);
  font-size: clamp(1.2vw, 1.4vw, 1.6vw);
}

.sectionTitle {
  text-align: center;
  color: var(--white);
  text-shadow: 3px 3px 5px var(--american-orange);
}
.imageContainer {
  max-width: 300px;
}
