@import "../../../styles/mixins.scss";

.ps {
  display: flex;
  flex-direction: column;

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__card1 {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include breakpoint(md) {
        display: flex;
        flex-direction: row;
      }
      &__figure__container {
        @include breakpoint(md) {
          padding-right: 4%;
        }
      }

      &__text__container {
        color: var(--white);
        max-width: 350px;

        @include breakpoint(md) {
          position: relative;
          max-width: 42vw;
          padding-left: 25px;
        }
      }

      &__progress {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        &__label1 {
          color: blue;
          font-weight: 1000;
        }

        &__label2 {
          color: yellow;
          font-weight: 1000;
        }

        &__label3 {
          color: lightcoral;
          font-weight: 1000;
        }
      }
    }

    &__card2 {
      padding: 2rem;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      @include breakpoint(md) {
        display: flex;
        flex-direction: row;
      }
      &__text__container {
        color: var(--white);
        max-width: 350px;

        @include breakpoint(md) {
          position: relative;
          max-width: 650px;
        }
      }

      &__progress {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        &__label1 {
          color: blue;
          font-weight: 1000;
        }

        &__label2 {
          color: yellow;
          font-weight: 1000;
        }

        &__label3 {
          color: lightcoral;
          font-weight: 1000;
        }
      }

      &__figure__container {
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint(md) {
          padding-left: 4%;
          // padding-right: 2%;
        }
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
