@import "../../../styles/mixins.scss";

.expSection__content {
  min-width: 100vw;
  z-index: 12;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__primary {
    display: flex;
    //   height: 25vh;
    flex-direction: column;
    //   width: 80vw;
    gap: 5%;
    align-items: center;
    @include breakpoint(md) {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }

    &__title__container {
      min-width: 15vw;
      // outline: 5px solid pink;
    }

    &__title {
      color: var(--white);
    }

    &__date {
      color: var(--white);
      opacity: 0.5;
    }

    &__details__container {
      width: 45vw;
    }

    &__details {
      color: var(--white);
    }
  }

  &__secondary {
    display: flex;
    //   height: 20vh;
    gap: 5%;
    flex-direction: column;
    align-items: center;
    @include breakpoint(md) {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
    &__title__container {
      min-width: 15vw;
    }

    &__title {
      color: var(--white);
    }

    &__date {
      color: var(--white);
      opacity: 0.5;
    }

    &__details__container {
      width: 45vw;
    }

    &__details {
      color: var(--white);
    }
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
