html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
}

:root {
  --base-font-size: 16;
  --white: #ffffff;
  --american-orange: #ff8800;
  --black: #000000;
  --deep-bronze: #4d2900;
}
